{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}


{% block title %}
{% if nclientrating is not none %}
지금까지 {{nclientrating}} 개의 영화를 평가하셨습니다.
{% else %}
당신의 취향을 보여주세요
{% endif %}
{% endblock %}

{% block lead %}
본 영화라면 1-5점으로 평가 <br>
아직 못본 영화는 못봄 버튼으로 평가제외<br>
보고싶은 영화는 Keep 버튼으로 저장<br>
다시하기 버튼으로 Reset<br>
평가 & 추천을 반복할 수 있습니다.
<br>
<br>
상단 My Rating메뉴로 평가한 영화를 조회할 수 있습니다.<br><br>
못본 영화라도 기대점수를 입력하면 추천에 도움이 됩니다.
{% endblock %}

{% block mainbutton %}
<p>
  {% if nclientrating is not none %}
    <a href="/api/getrec" class="btn btn-primary my-2">추천받기</a>
  {% else %}
    <a href="/api/getrec" class="btn btn-primary my-2 disabled" tabindex="-1" role="button" aria-disabled="true">추천받기</a>
  {% endif %}
    <a href="/api/getstart" class="btn btn-primary my-2">다시하기</a>
</p>

{% endblock %}

{% block main_body %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% if movie_list %}
          {% for movie in movie_list %}
        <div class="col">
            <form method="POST" action="/api/rating">
            <div id="{{ loop.index }}", name='scrollindex',value="{{ loop.index }}" >
                <input type="hidden", name="scrollindex", value="{{ loop.index }}">
            </div>
            <div class="card shadow-sm">
              {% if movie.image is not none %}
              <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns={{movie.image}} role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg> -->
              <!-- <img src="{{movie.image}}" class="img-thumbnail" alt="Responsive image"> -->
              <img src="{{movie.image}}" class="img-thumbnail rounded mx-auto d-block " width="250" alt="Responsive image">
              {% else %}
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              {% endif %}
              <div class="card-body">
                
                <p class="card-text">{{movie.title_kr}} ({{movie.pubdate}})<br> {{movie.title_original}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                       
                        <!-- <form method="POST" action="/mvrec"> -->
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <input type="hidden", name="title", value="{{ movie.id }}">
                          <button type="submit" class="btn btn-sm btn-outline-secondary", name="submit", value="1">1</button>
                          <button type="submit" class="btn btn-sm btn-outline-secondary", name="submit", value="2">2</button>
                          <button type="submit" class="btn btn-sm btn-outline-secondary", name="submit", value="3">3</button>
                          <button type="submit" class="btn btn-sm btn-outline-secondary", name="submit", value="4">4</button>
                          <button type="submit" class="btn btn-sm btn-outline-secondary", name="submit", value="5">5</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                          <button type="submit" class="btn btn-sm btn-outline-secondary", name="submit", value="9">못봄</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                          <button type="submit" class="btn btn-primary btn-sm me-md-2" type="button", name="keep", value="{{movie.id}}">Keep</button>
                        </div>

            </form>  

                    </div>
                    
                </div>
                
              </div>
              
            </div>
          </div>
          {% endfor %}
          {% endif %}
      </div>
    </div>
</div>


<section class="py-1 text-center container">
  <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p>
          <a href="/api/getrec" class="btn btn-primary">추천받기</a>
          <a href="/api/getstart" class="btn btn-primary my-2">다시하기</a>
        </p>
      </div>
  </div>
</section>

{% endblock %}
